<div class="container m-5 border bg-gradient-to-r from-purple-200 to-orange-200 p-5 rounded-lg shadow-lg">
  <h2 class="mb-4 text-3xl font-bold text-center text-purple-950">Lista de Tareas</h2>

  <!-- Mostrar mensaje si la lista de tareas está vacía -->
  <p *ngIf="tasks.length === 0" class="text-center text-gray-500 text-lg font-semibold mt-4">
    Actualmente no existe ninguna tarea
  </p>

  <ul *ngIf="tasks.length > 0" class="max-w-md space-y-2 text-gray-500 list-inside dark:text-gray-400 ml-5">
    <li *ngFor="let task of tasks" class="flex items-center">

      <!-- Circulo verde con "visto" cuando la tarea está completada -->
      <svg *ngIf="task.completed" class="w-5 h-5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" (click)="toggleTaskCompletion(task)">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
      </svg>

      <!-- Circulo gris sin "visto" cuando la tarea no está completada -->
      <svg *ngIf="!task.completed"
        class="w-5 h-5 me-2 text-gray-500 border-2 border-gray-500 rounded-full flex-shrink-0"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" (click)="toggleTaskCompletion(task)">
        <circle cx="10" cy="10" r="8" fill="white" />
      </svg>

      <!-- Texto de la tarea -->
      <p *ngIf="!isEditing || editingTaskId !== task._id" class="flex-1"
        [ngClass]="{'line-through text-gray-400': task.completed}" (dblclick)="editTask(task)">
        {{ task.text }}
      </p>

      <input *ngIf="isEditing && editingTaskId === task._id" class="flex-1 p-2 border rounded-md" [value]="task.text"
        (blur)="saveTask(task)" (keydown.enter)="saveTask(task)" (keyup)="onEditTextChange(task, $event)" />

      <button *ngIf="!isEditing || editingTaskId !== task._id" class="ml-4 text-red-500 hover:text-red-700"
        (click)="confirmDeleteTask(task)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-x-square-fill size-8" viewBox="0 0 16 16">
          <path
            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
        </svg>
      </button>
    </li>
  </ul>
</div>

<!-- Modal para confirmar eliminación -->
<div *ngIf="showModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <h3 class="text-xl font-semibold">Confirmar Eliminación</h3>
    <p>¿Estás seguro de que deseas eliminar esta tarea?</p>
    <div class="mt-4 flex justify-end"> <button class="mr-4 text-gray-500" (click)="closeModal()">Cancelar</button>
      <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700" (click)="deleteTask()"> Eliminar
      </button> </div>
  </div>
</div>

<!-- Modal para añadir tarea -->
<div *ngIf="showAddTaskModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <h3 class="text-xl font-semibold">Añadir Nueva Tarea</h3>
    <input type="text" class="w-full p-2 border rounded-md mt-4" [(ngModel)]="newTask.text"
      placeholder="Escribe la tarea..." />
    <div class="mt-4 flex justify-end">
      <button class="mr-4 text-gray-500" (click)="closeAddTaskModal()">Cancelar</button>
      <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700" (click)="addTask()">
        Añadir
      </button>
    </div>
  </div>
</div>

<!-- Botón para abrir el modal -->
<div class="flex justify-center my-4"> <!-- my-4 agrega margen superior e inferior -->
  <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700" (click)="openAddTaskModal()">
    Añadir Tarea
  </button>
</div>